.kategorija
{
   
    display: flex;
    height:900px;
   

}
.Forma
{
    display: flex;
    flex-direction: column;
    flex-basis:220px;
    align-items: center;
    

    
 
}
.addProizvod
{
    margin-left:3px;
    background-color: #f7f7f7;
    border: 1px solid #006d77;
    
    
    
}
.addProizvodjac
{
    margin-top:9px;
    margin-left:3px;
    background-color: #f7f7f7;
    border: 1px solid #006d77;
    
    
}

.kontejnerProizvoda
{
    
    display: flex;
    flex-direction: column;
    flex-grow:1;
    flex-basis: 500px;
    height: 900px;
    
}
.red
{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink:1;
    
}
.proizvod
{
   border:solid 1px #006d77;
    flex: 1 0 20px;
    text-align: center;
    margin:5px;
    font-size: 20px;
    background-color: white;
    color: #3a3b3b;
    
}
.bojaDiv{
    margin:5px;
    width:20px;
    height: 20px;
    display: flex;
    

}
.pomocniDivZaBoje{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.divDodajBoju
{
   
    display:flex;
    flex-direction: column;
    /* padding:2px; */
    flex-grow:2;
    align-content:center;
    margin-left: 0;
    margin-top: 20px;
  
}
input 
{
    margin:1px;
    width: 90%;
}
div 
{
    margin-top:3px;
    margin-bottom:3px;
}
.Color{
    width:40%;
    align-self: center;
    margin-bottom: 5px;
    margin-left: 0;
    
}
.dugmeBoja{
    margin-left:3px;
}
button 
{
    width:80%;
    height: 24px;
    
    align-self: center;
    margin:5px;
    margin-left: 10%;
    font-size: 70%;
   
   

}
h5
{
    color:#edf6f9;
    margin:2px;
} */
body,h1,h5,button
{
    font-family: "FS Meridian Regular",sans-serif;
    color: #006d77;
}

body, .Forma{
    
    background-color: #f7f7f7;
    
    
    
}
h1
{
   
}

